<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    Date today is <%= date %> // <%=dateToday.monthWord %> <%=dateToday.day %> <%=dateToday.year %>   
    <h1>TRANSLATION SERVICE</h1>
    <h2>DEATH CERTIFICATE</h2>
    <h2>FORMAT</h2>
    <li><a href='/DC/new'>Death Certificate - Municipal Form 103</a></li>
    <li><a href='/embalmer'>Death Certificate - Embalmer</a></li>
    
    
</body>
</html>