<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translation Service</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- <style>
        #TODO {
            background-color: red;
        }
    </style> -->
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <h1> value <%=testEJS%>
    </h1>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <form action="/" method="post">
        <div class="container">
            <div class=stats>CHILD</div><br>
            <div class="row">
                <div class="col-xs-12 col-md-6 ">
                    <label for="childGivenName">Given Name</label>
                    <input type="text" id="childGivenName" name="childGivenName" class="form-control" placeholder="Given Name">
                </div>
                <div class="form-group col">
                    <label for="childMiddleName">Middle Name</label>
                    <input type="text" id="childMiddleName" name="childMiddleName" class="form-control" placeholder="Middle Name">
                </div>
                <div class="form-group col">
                    <label for="childSurName">Surname</label>
                    <input type="text" id="childSurName" name="childSurName" class="form-control" placeholder="Surame">

                </div>
            </div>

            <!-- <br>

            <div class="col-md-3">
                <label for="childDateOfBirth">Date of Birth</label>
                <input type="date" id="childDateOfBirth" class="form-control " placeholder="01/01/2000">
            </div>
            <br>

            <label for="childBirthLocation">Birth Location</label>
            <input type="text" id="childBirthLocation" class="form-control" placeholder="Address"> -->
        </div>
        <button type="submit" class="btn btn-primary"> SUMBIT </button>
        <button class="btn btn-secondary "> CLEAR </button>

    </form>


    </div>
    </div>



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>


</body>

</html>