.container {
    border: solid gray;
    border-radius: 1rem;
    margin: 2rem auto 0;
    padding-bottom: 1rem;
    /* position: relative; */
    z-index: -1;
}

.stats {
    margin-top: -1rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    background: white;
    z-index: 1;
    width: 4rem;
    color: magenta;

    /* z-index: 1; */
}

#TODO {
    background-color: red;
}

body {
    background-color: green;
}