@import url(/css/navStyles.css);

.container {
    border: solid gray;
    border-radius: 1rem;
    margin: 2rem auto 0;
    padding-bottom: 1rem;
    /* position: relative; */
    z-index: -1;
}

/* .stats {
    margin-top: -1rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    background: white;
    z-index: 1;
    width: 4rem;
    color: magenta;
} */

h1,
h2,
h6 {
    text-align: center;
    margin: 0;
}

.dateToday{
    position: fixed;
    bottom: 0;
    right: 0;
}

.hide {
    display: none;
}


